<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <%- include('partials/nav'); %>
    <h1>Welcome to the most awesome website on the net</h1>
    <p>You won't find a website better anywhere else!</p>
</body>
</html>